* {
    padding: 0;
    margin: 0;
    color: #40514e;
    text-align: center;
    font-family: "Merriweather", serif;
}
.top-header, .first-section, .second-section  {
    width: 100%;
    height: 400px;
}
.top-header {
    /* background-color: aqua; */
}
.first-section {
    /* background-color: rebeccapurple; */
}
.second-section {
    /* background-color: green; */
}
.bottom-footer {
    height: 150px;
    background-color:#66bfbf;
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.copyright {
    color: aliceblue;
    padding-top: 20px;
}
.title-text {
    padding-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: #66bfbf;
}
.title-skill {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: #66bfbf;
}

.underliner {
    text-decoration: underline;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.mountain-container {
    width: 589;
    height: 357px;
    position: relative;
}
.mountain-image {
    width: 598;
    height: 357px;
    padding-bottom: 10px;
}
.class-explanation {

}
.skill-explanation {

}