* {
    padding: 0%;
    margin: 0%;
}
.main-container {
    /* padding: 1px 1px 1px 1px; */
    width: 100%;
    height: 100%;
    display: flex;
}
.left-drawer {
    width: 25%;
    /* height: 800px; */
    height: 100vh;
    background-color: #CDFADB;
    /* display: grid; */
    /* grid-column-row: 4; */
}

.main-view {
    /* height: 800px; */
    /* width: 900px; */
    height: 100vh;
    width: 75%;
    background-color: #F6FDC3;
}
.backgroundCOLOR {
    background-color: #CDFADB;
}

.left-drawer-pagaraph {
    color: #FF8080;
    float: left;
    padding-right: 10px;
}
.left-drawer-image {
    width: 20px;
    height: 20px;
    padding-right: 1000px;
    float: right;
}

.left-drawer-container {
    background-color: #CDFADB;
    display: grid;
    grid-template-columns: span 4;
    grid-template-columns: span 4;
    padding-top: 15px;
    padding-left: 10px;
    width: 30%;
}
.breaking-Point {
    color: #F6FDC3;
}

.cat-image {
    margin-top: -55px;
    padding-left: 100px;
    width: 200px;
    height: 200px;
}
.cat-paragraph {
    color: #FF8080;
    width: 100px;
    padding-top: 100px;
    padding-left: 10px;
}
.h1-cat {
    color: aqua;
    font-size: 35px;
}