.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.iphone-style {
  margin-right: -200px;
  margin-top: -262px;
  height: 344px;
  width: 200px;
}

.display1 {
  width: 500px;
  padding-left: 200px;

}

/* .downloadBtn {
  margin-top: 80px;
}
.appleBtn {
  margin-left: -500px;
  margin-top: 80px;
} */
/* .container {
  width: 70%;
  height: 300px;
} */
.dogExplanationH1 {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  /* margin-left: 200px; */
}
.dogImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 5px;
  border-radius: 50%;
}

.heightRow {
  margin-top: 10px;
  height: 300px;
}

/* .buissnesImg {
  height: 30px;
  width: calc((100% / 4) - 10px);
  display: inline-block;
} */